.head{
  text-align:center;
  background-image: url(../IP3/assets/backgrounds/h_img.jpg);
  color:white;
  height:400px;
  background-size:cover;
}

.about{
  text-align: center;
  font-family:fantasy;
}
.services{
  text-align:center;
  font-size: 20px;
  background-image: url(../IP3/assets/backgrounds/s_image.jpg);
  color:white;
  height: 300px;
}
.what{
  text-align: center;
  height:300px;
}
.design{
  float:left;
}
.dev{
  clear: both;
}
.product{
  float:right;
}
.portfolio-header{
  text-align: center;
}
.form{
  text-align: center;
  background-image: url(../IP3/assets/backgrounds/c_image.jpg);
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height:400px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  color:white;
}
.social{
  align-items: center;
  text-align: center;
}
.name{
  float: left;
}
.email{
  float:right;
}
.content{
 width:500px;
 clear: both;

}
